// Media query breakpoints
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin touch {
  @media (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min}) {
    @content;
  }
}
